<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlightQuery.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlightQuery.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <FlightQuery.My.MySettings>
            <setting name="ChkFlightnum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChkCorp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChkPlane" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChkPlanen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChkCity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChkCityx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChkEtd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChkEta" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChkAtd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChkAta" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChkApplyTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChkState" serializeAs="String">
                <value>True</value>
            </setting>
        </FlightQuery.My.MySettings>
    </userSettings>
    <applicationSettings>
        <FlightQuery.My.MySettings>
            <setting name="WindowsApplication3_WebReference_WebServiceFlightDyn"
                serializeAs="String">
                <value>http://218.93.121.46/WebServiceFlightDyn.asmx</value>
            </setting>
        </FlightQuery.My.MySettings>
    </applicationSettings>
</configuration>